Package: com.lovahe.vp9compat
Name: VP9Compat
Version: 0.2.2
Architecture: iphoneos-arm
Description: Software VP9 compatibility layer for sideloaded YouTube 21.21.3.
Maintainer: LOVAHE
Author: LOVAHE
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), firmware (>= 14.0)
